.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f8f8f8;
}

.title {
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #ddd;
}
